<html>
    <link type="text/css" id="dark-mode" rel="stylesheet" href=""><style type="text/css" id="dark-mode-custom-style"></style>
    <head>
        
        
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Title Here</title>

    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <!-- <script src="/script1.js"></script> -->
    <link href="/css/styles.css" rel="stylesheet" type="text/css" media="all">
    <script src="https://kit.fontawesome.com/42e954c897.js" crossorigin="anonymous"></script>
    <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap" rel="stylesheet">
    </head>

    <body><img src="/images/logo_t.png" alt="red" style="max-width: 33%; top: 0px; margin-right:auto;  margin-left: auto; display: block;
    position: relative;
    
        
        min-width:30%;z-index: 1;"
        >
        <img src="/images/blue.png" alt="blue" style="position: fixed;
        bottom: 0px;
        left: 0px;
        
        z-index: -1;
        padding: 0px;
        margin: 0px;"> 
    <img src="/images/red_car.png" alt="red" style="position: fixed;
    top: 0px;
    right: 0px;
    max-width: 90%;
    max-height: 90%;
    z-index: -1;
    padding: 0px;
    margin: 0px;"> 
        
	<div id="page" class="page">

        
        <% var a=new Date().toISOString().split('T')[0]; %> 
        
    

    <div class="two-grids">
        <div class="mid-class">
            
            <div class="txt-left-side editContent" style="border-radius: 40px ;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255); font-family: &quot;Open Sans&quot;, sans-serif;">
                

                <h2 class="editContent"><%= a %></h2>
                <% for(var i=0; i< slots.length;i++){ %>  
                    <% var slots_array=slots[i]; %> 
                    <br>
                     <% if(slots_array.date===a){ %> 
                    
                    <% for(var j=0;j<slots_array.time.length;j++){ %> 
                    <div class="btnn">
                        <a href="/homeBooking/<%= service.name %>/<%= slots_array.date %>/<%= slots_array.time[j] %>"> <%=  slots_array.time[j] %> </a>
                      

                    </div>
                <% } %>   
                <% } %>
                
              
                
                    <% } %>
                   
                   
             
                
                
            </div>
        </div>
    
    <footer class="example-class">
        <p>
            Sample Reg Form for 
            <a href="http://www.vpurify.in" target="_blank">V-Purify</a>
        </p>
    </footer>
      </div></div>
      
        </body>    
    
