<h1><%= service.name %> </h1>
<h1><%= service.phone %> </h1>
<h1><%= service.email %> </h1>
<h1><%= service.city %> </h1>
<h1><%= slotDate %> </h1>
<h1><%= slotTime %> </h1>




<form method="POST" enctype="multipart/form-data">
    <input type="email" name="yourEmail" placeholder="Please enter your email">
    <input type="hidden" value="<%= service.name %>" name="detailsName">
    <input type="hidden" value="<%= service.phone %>" name="detailsPhone">
    <input type="hidden" value="<%= service.email %>" name="detailsEmail">
    <input type="hidden" value="<%= service.city %>" name="detailsCity">
    <input type="text" name="userName" placeholder="Please enter your name">
    <input type="text" name="phone" placeholder="Please enter your number">
    <label>Select Vehicle Type</label>
    <select name="model">
        <option value="Two Wheeler">Two Wheeler</option>
        <option value="Sedan">Sedan</option>
        <option value="Hatchback">Hatchback</option>
        <option value="Auto Rikshaw">Auto Rikshaw</option>
        <option value="small">Small Commercial</option>
        <option value="Multi Axel">Multi Axel</option>
        <option value="SUV">SUV</option>
        <option value="Maxi">Maxi</option>
        <option value="Tempo">Tempo</option>
        <option value="Bus">Bus</option>
        <option value="others">Others</option>
    </select>
    <input type="text" name="vehicleNo" placeholder="Please enter your Vehicle Number">
    <label>Attach you personalize QR code</label>
    <input type="file" name="img" accept="image/*">

    
    <button type="submit" value="submit">Book</button>
</form>