<h1><%= service.name %> </h1>
<h1><%= service.phone %> </h1>
<h1><%= service.email %> </h1>
<h1><%= service.city %> </h1>
<h1><%= slotDate %> </h1>
<h1><%= slotTime %> </h1>




<form method="POST" enctype="multipart/form-data">
    <input type="email" name="yourEmail" placeholder="Please enter your email">
    <input type="hidden" value="<%= service.name %>" name="detailsName">
    <input type="hidden" value="<%= service.phone %>" name="detailsPhone">
    <input type="hidden" value="<%= service.email %>" name="detailsEmail">
    <input type="hidden" value="<%= service.city %>" name="detailsCity">
    <input type="text" name="userName" placeholder="Please enter your name">
    <input type="text" name="phone" placeholder="Please enter your number">
    <input type="text" name="vehicleNo" placeholder="Please enter your Vehicle Number">
    <label>Attach you personalize QR code</label>
    <input type="file" name="img" accept="image/*">

    
    <button type="submit" value="submit">Book</button>
</form>