<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Pendings Works</title>
	<link rel = "icon" href ="/images/logo.png" type = "image/x-icon">

	<link rel="stylesheet" href="/css/style-starter.css">
	<link href="/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/sidebar.css">
	<link href="/css/table.css" rel="stylesheet">
	<link href="/css/styles.css" rel="stylesheet">


    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,600,700&display=swap" rel="stylesheet">
</head>
<body id="home">
	  
	<!-- SideBar -->
	<div class="w3-sidebar w3-bar-block" style="display:none" id="mySidebar">
		<button onclick="w3_close()" class="w3-bar-item w3-button w3-large">Close &times;</button>
		<a href="/empDashboard/<%= employee._id %> " class="w3-bar-item w3-button">DashBoard</a>
		
	</div>
	<script>
		function w3_open() {
			document.getElementById("mySidebar").style.width = "25%";
			document.getElementById("mySidebar").style.display = "block";
			}
		   
		function w3_close() {
			document.getElementById("mySidebar").style.display = "none";
			}
	</script>
	<button style="position: absolute;z-index:0; border:none" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">☰ Menu</button>
	<!--/SideBar -->

	<!-- Logout Button -->
	
	<!-- /Logout Button -->

	<!-- Background Images and Logo -->
	<img src="/images/logo_t.png" alt="red" 
		style="max-width: 33%; top: 0px; 
		margin-right:auto;  margin-left: auto; 
		display: block;position: relative;
		min-width:30%;z-index: 1;">
	<img src="/images/blue.png" alt="blue" 
		style="position: fixed; bottom: 0px;
    	left: 0px;z-index: -1;
        padding: 0px;margin: 0px;">
	<img src="/images/red_car.png" alt="red" 
		style="position: fixed;top: 0px;
    	right: 0px;max-width: 90%;
    	max-height: 90%;z-index: -1;
    	padding: 0px;margin: 0px;">
	<!--/Background Images and Logo -->
	<section class="w3l-recent-work-hobbies">
		<div class="recent-work ">
			<div class="container">
	
				<!-- Time Slot Head -->
				<div class="main-titles-head">
						<h3 class="header-name">Pending Bookings
						</h3>			  
				</div>
				<!-- /Time Slot Head -->
	
	
	
				<div class="row about-about">
					<!-- Time Slot1 -->	
					<% for(var i=0;i<employee.pendings.length;i++){ %>
					<div class="col-lg-4 col-md-6"style="border: rgba(256, 256, 256,0.01) solid 5.5px;">
						<div class="about-grids">
							
							<div class="mt-3 about-list">
	
								<table class="table-fill">
									
									<thead>
										<tr>
											<th class="text-left">Time</th>
											<th class="text-left"><%= employee.pendings[i].slot %></th>
										</tr>
									</thead>
									<tbody class="table-hover">
										<tr>
											<td class="text-left">Date</td>
											<td class="text-left"><%= employee.pendings[i].date %></td>
										</tr>
										<tr>
											<td class="text-left">Customer Name</td>
											<td class="text-left"><%= employee.pendings[i].name %></td>
										</tr>
										<tr>
											<td class="text-left">Customer Email</td>
											<td class="text-left"><%= employee.pendings[i].email %></td>
										</tr>
										<tr>
											<td class="text-left">Customer Contact</td>
											<td class="text-left"><%= employee.pendings[i].phone %></td>
										</tr>
										<tr>
											<td class="text-left">Customer Address</td>
											<td class="text-left"><%= employee.pendings[i].address %></td>
										</tr>
										<tr>
											<td class="text-left">Vehicle Number</td>
											<td class="text-left"><%= employee.pendings[i].vehicleNo%></td>
										</tr>
										<tr>
											<td class="text-left">Vehicle Make</td>
											<td class="text-left"><%= employee.pendings[i].model%></td>
										</tr>
									</tbody>
								</table>
								<br>
								<br>
								<form method="post" enctype="multipart/form-data">
									<h2 class="editContent"> Complete Booking </h2>
									<input type="hidden" name="id" readonly value="<%= employee._id %>">
									<input type="hidden" name="empid" readonly value="<%= employee.pendings[i]._id %>">
											
									<input type="hidden" name="name" readonly value="<%= employee.pendings[i].name %>">
									<input type="hidden" name="coins" readonly value="<%= employee.pendings[i].coins %>">
									<input type="hidden" name="phone" readonly value="<%= employee.pendings[i].phone %>">
									<input type="hidden" name="email" readonly value="<%= employee.pendings[i].email %>">
									<input type="hidden" name="slot" readonly value="<%= employee.pendings[i].slot%>">
									<input type="hidden" name="date" readonly value="<%= employee.pendings[i].date %>">
									<input type="hidden" name="vehicleNo" readonly value="<%= employee.pendings[i].vehicleNo%>">
									<input type="hidden" name="model" readonly value="<%= employee.pendings[i].model%>">

									<label style="color: tomato;">Start Time</label>						
									<div class="form-left-to editContent">
										<span class="fas fa-map-marker-alt" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
										<input type="time" name="startTime" placeholder="Start Time" required="">
				
										<div class="clear"></div>
									</div>
									<label style="color: tomato;">End Time</label>
									<div class="form-left-to editContent">
										<span class="fas fa-map-marker-alt" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
										<input type="time" name="endTime" placeholder="End Time" required="">
				
										<div class="clear"></div>
									</div>
									<label style="color: tomato;">Firm Name</label>
									<div class="form-left-to editContent">
										<span class="fas fa-map-marker-alt" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
										<input type="text" name="serviceName" value="<%= employee.company %>" readonly placeholder="Firm Name" required="">
				
										<div class="clear"></div>
									</div>
									<label style="color: tomato;">Location</label>
									<div class="form-left-to editContent">
										<span class="fas fa-map-marker-alt" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
										<select name="location">
											<option value="Home">Home</option>
											<option value="On Site">On Site</option>
										</select>
				
										<div class="clear"></div>
									</div>
									<label style="color: tomato;">Submit photos of front and back of vehicle after sanitization</label>
									<div class="form-left-to editContent">
										<span class="fas fa-map-marker-alt" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
										
										<input type="file" name="files" multiple placeholder="Images" required="">
								   
										<div class="clear"></div>
									</div>
									<b><label style="color: tomato;">*Two images necessary here</label></b>

									
									<div class="btnn">
										<button type="submit" class=" btn" style="outline: none; cursor: inherit;">	Complete</button>
									</div>
								</form>
								
					
							</div>
						</div>
					</div>
					<% } %>
				</div></div></div></section>
				<footer class="example-class">
					<p>
						 Copyright &copy;
						<a href="http://www.vpurify.in" target="_blank">V-Purify</a>
						2020
					</p>
				</footer>
				</body>

    