<html>
    <link type="text/css" id="dark-mode" rel="stylesheet" href=""><style type="text/css" id="dark-mode-custom-style"></style>
    <head>
        
        
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Title Here</title>

    <link href="/css/font-awesome.min.css" rel="stylesheet">

    <link href="/css/styles.css" rel="stylesheet" type="text/css" media="all">
    <script src="https://kit.fontawesome.com/42e954c897.js" crossorigin="anonymous"></script>
    <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap" rel="stylesheet">
    </head>

    <body><img src="/images/logo_t.png" alt="red" style="max-width: 33%; top: 0px; margin-right:auto;  margin-left: auto; display: block;
    position: relative;
    
        
        min-width:30%;z-index: 1;"
        >
        <img src="/images/blue.png" alt="blue" style="position: fixed;
        bottom: 0px;
        left: 0px;
        
        z-index: -1;
        padding: 0px;
        margin: 0px;"> 
    <img src="/images/red_car.png" alt="red" style="position: fixed;
    top: 0px;
    right: 0px;
    max-width: 90%;
    max-height: 90%;
    z-index: -1;
    padding: 0px;
    margin: 0px;"> 
        
	<div id="page" class="page">
        
    
    <div class="two-grids">
        <div class="mid-class">
            <% stations.forEach( function (station){ %>
            <div class="txt-left-side editContent" style="border-radius: 40px ;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255); font-family: &quot;Open Sans&quot;, sans-serif;">
                    <label>Firm Name</label>
                    <h2 class="editContent"><%= station.firm %></h2>
                    <h2 class="editContent"><%= station.city %></h2>
                    <h2 class="editContent"><%= station.phone %></h2>
                    <h2 class="editContent"><%= station.email %></h2>
                    <div class="btnn">
                        <a href="/homeService/<%= station.firm %>" ><button type="submit" class=" btn" style="outline: none; cursor: inherit;">Home Sanitisation</button></a>

                    </div>
                    <div class="btnn">
                        <a href="/officeService/<%= station.firm %>"><button type="submit" class=" btn" style="outline: none; cursor: inherit;">Station Sanitisation</button></a>
                    </div>   
                    
            </div>
            <% } )%>
        </div>
        
        <!-- 
              -->
        
    
       
    
        
    
        
    <br>
    <div class="mid-class">
    <div class="txt-left-side editContent" style="border-radius: 40px ;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255); font-family: &quot;Open Sans&quot;, sans-serif;">
                
        <h2 class="editContent">Can't find suitable station?</h2>
        <h4>Try City Name</h4>
        <form action="/citySearch" method="POST">
            <div class="form-left-to editContent">
                <span class="fas fa-map-marker-alt" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
                
                <input type="text" name="city" placeholder="City Name" >

                <div class="clear"></div>
            </div>
            
           
            <div class="btnn">
                <button type="submit" class=" btn" style="outline: none; cursor: inherit;">Search</button>
            </div>
        </form>
        
    </div>
</div>
<br>
<div class="mid-class">
    <div class="txt-left-side editContent" style="border-radius: 40px ;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255); font-family: &quot;Open Sans&quot;, sans-serif;">
                
        <h2 class="editContent">Can't find suitable station?</h2>
        <h4>Try Another PinCode</h4>
        <form action="/search" method="POST">
            <div class="form-left-to editContent">
                <span class="fas fa-map-marker-alt" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
                <input type="text" name="pin" placeholder="Pin Code" >

                <div class="clear"></div>
            </div>
            
           
            <div class="btnn">
                <button type="submit" class=" btn" style="outline: none; cursor: inherit;">Search</button>
            </div>
        </form>
        
    </div>
    </div>


        </div>



   
    <footer class="example-class">
        <p>
            Sample Reg Form for 
            <a href="http://www.vpurify.in" target="_blank">V-Purify</a>
        </p>
    </footer>
    </div></div>
      </body>
      </html>
            
