<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DashBoard</title>
	<link rel="stylesheet" href="/css/style-starter.css">
	<link href="/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/sidebar.css">
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,600,700&display=swap" rel="stylesheet">
</head>
<body id="home">
	  
	<!-- SideBar -->
	<div class="w3-sidebar w3-bar-block" style="display:none" id="mySidebar">
		<button onclick="w3_close()" class="w3-bar-item w3-button w3-large">Close &times;</button>
		<a href="/homeUpcomingBookings/<%= service._id %> " class="w3-bar-item w3-button">Upcoming Home Bookings</a>
		<a href="/officeUpcomingBookings/<%= service._id %> " class="w3-bar-item w3-button">Upcoming Office Bookings</a>
		<a href="/homeEmployees/<%= service._id %> " class="w3-bar-item w3-button">Home Employees</a>
		<a href="/officeEmployees/<%= service._id %> " class="w3-bar-item w3-button">Office Employees</a>
		<a href="/completedService/<%= service._id %> " class="w3-bar-item w3-button">Completed Service</a>
		<a href="/rates/<%= service._id %> " class="w3-bar-item w3-button">Rates</a>
		<a href="/serviceSlots/<%= service._id %> " class="w3-bar-item w3-button">Time Slots</a>
	</div>
	<script>
		function w3_open() {
			document.getElementById("mySidebar").style.width = "25%";
			document.getElementById("mySidebar").style.display = "block";
			}
		   
		function w3_close() {
			document.getElementById("mySidebar").style.display = "none";
			}
	</script>
	<button style="position: absolute;z-index:0; border:none" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">☰ Menu</button>
	<!--/SideBar -->

	<!-- Logout Button -->
	<div class="topnav" style="position:static; z-index:2;">
		<div class="topnav-right" style="text-align: right;">  
			<a href="/">Logout</a>	
		</div>
	</div>
	<!-- /Logout Button -->

	<!-- Background Images and Logo -->
	<img src="/images/logo_t.png" alt="red" 
		style="max-width: 33%; top: 0px; 
		margin-right:auto;  margin-left: auto; 
		display: block;position: relative;
		min-width:30%;z-index: 1;">
	<img src="/images/blue.png" alt="blue" 
		style="position: fixed; bottom: 0px;
    	left: 0px;z-index: -1;
        padding: 0px;margin: 0px;">
	<img src="/images/red_car.png" alt="red" 
		style="position: fixed;top: 0px;
    	right: 0px;max-width: 90%;
    	max-height: 90%;z-index: -1;
    	padding: 0px;margin: 0px;">
	<!--/Background Images and Logo -->
	
	<!-- Profile -->
	<section class="w3l-team-main-6">
		<div class="container">
            <div class="main-titles-head text-center">
                <h3 class="header-name">
					My Profile
                </h3> 
            </div>
			<div class="row grid-col-4 text-center">
                <div class="team-colomn col-lg-3 col-md-6 col-sm-6">	
					<div class="team-main-6">
						<div class="right-team-9">
							<h4 class="sm-text-32">Name: <%= service.name %></h4>
                            <p class="sm-text-32">Email: <%= service.email %> </p>
							<p class="sm-text-32">Phone Number: <%= service.phone %> </p>
							<p class="sm-text-32">Firm Name: <%= service.firm %> </p>
							<p class="sm-text-32">Address: <%= service.address %> </p>
							<p class="sm-text-32">Pin Code: <%= service.pin %> </p>
							<p class="sm-text-32">City: <%= service.city %> </p>
							<p class="sm-text-32">State: <%= service.state %> </p>
                        	
						</div>	
					</div>
				</div>
			</div>
		</div>
	
	</section>
    <!-- /Profile -->
    </body>