<html>
    <link type="text/css" id="dark-mode" rel="stylesheet" href=""><style type="text/css" id="dark-mode-custom-style"></style>
    <head>
        
        
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Title Here</title>

    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://js.stripe.com/v3/"></script>
    <link href="/css/styles.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="/css/sidebar.css">
    <script src="/script2.js"></script>
    <script src="https://kit.fontawesome.com/42e954c897.js" crossorigin="anonymous"></script>
    <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="w3-sidebar w3-bar-block" style="display:none" id="mySidebar">
    
            <button onclick="w3_close()" class="w3-bar-item w3-button w3-large">Close &times;</button>
            <a href="/search/<%= user._id %> " class="w3-bar-item w3-button">Search Station</a>
            <a href="/userDashboard/<%= user._id %>" class="w3-bar-item w3-button">Dashboard</a>
            <a href="/subscription/qrCode/<%= user._id %> " class="w3-bar-item w3-button">Your QR code</a>
            <a href="/completedUser/<%= user._id %>" class="w3-bar-item w3-button">Completed Bookings</a>
		<a href="/lastDetails/<%= user._id %>" class="w3-bar-item w3-button">Last sanitisation details</a>
        </div>
        <script>
                        function w3_open() {
                          document.getElementById("mySidebar").style.width = "25%";
                          document.getElementById("mySidebar").style.display = "block";
                        }
                        
                        function w3_close() {
                          document.getElementById("mySidebar").style.display = "none";
                        }
        </script>
                      
        <button style="position: relative;" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">☰ Menu</button>
        <img src="/images/logo_t.png" alt="red" style="max-width: 33%; top: 0px; margin-right:auto;  margin-left: auto; display: block;
    position: relative;
    
        
        min-width:30%;z-index: 1;"
        >
        <img src="/images/blue.png" alt="blue" style="position: fixed;
        bottom: 0px;
        left: 0px;
        
        z-index: -1;
        padding: 0px;
        margin: 0px;"> 
    <img src="/images/red_car.png" alt="red" style="position: fixed;
    top: 0px;
    right: 0px;
    max-width: 90%;
    max-height: 90%;
    z-index: -1;
    padding: 0px;
    margin: 0px;"> 
        
	<div id="page" class="page">

    
    <div class="two-grids">
        <div class="mid-class">
            
                
     <% coins.forEach(function(coin){ %>
        <div class="txt-left-side editContent" style="border-radius: 40px ;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255); font-family: &quot;Open Sans&quot;, sans-serif;">
            <h2 class="editContent"> Buy <%= coin._doc.range %> coins  </h2>
        <form action="/cart" method="POST">
            <input type="hidden" value="<%= coin._doc._id %>" name="id" readonly>
            <input type="hidden" value="<%= user._id %>" readonly name="userId">
            <div class="form-left-to editContent">
                <span class="fas fa-map-marker-alt" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
                <input type="email"  name="email" value="<%= user.email %>" readonly required="">

                <div class="clear"></div>
            </div>
            <div class="form-left-to editContent">
                <span class="fas fa-coins" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
                <input type="number" id="coins" name="coinsRange" value="<%= coin._doc.range %>" readonly placeholder="Number Of Coins" required="">

                <div class="clear"></div>
            </div>
            <div class="form-left-to editContent">
                <span class="fas fa-money-bill-wave" aria-hidden="true" style="outline: none; cursor: inherit;">INR</span>
                <input type="number" value="<%= coin._doc.price %>" id="amt" name="amount" required="" readonly>
            
                <div class="clear"></div>
            </div>
            <div class="btnn">
                <button type="submit" class=" btn" style="outline: none; cursor: inherit;">ADD TO CART</button>
            </div>
            
        
            </form>
                    
            </div>        
            <% }) %>
                
            </div>
            
                   
                    
                
                
                
            </div>
        </div>
</div>

    
    <footer class="example-class">
        <p>
            Sample Reg Form for 
            <a href="http://www.vpurify.in" target="_blank">V-Purify</a>
        </p>
    </footer>
      </div></div>
      <script src="/script2.js"></script>
      </body>
      
     




